.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;

  pointer-events: none;

  transition: opacity 0.3s ease, visibility 0s linear;
}

.modal_is-opened {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal_is-opened .modal__container {
  transform: scale(1);
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 36px 50px 32px;
  position: relative;
  transform: scale(0.95);
  transition: transform 0.3s ease;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url("../images/close-icon.svg");
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

modal__close-btn:hover {
  opacity: 0.7;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.modal__label {
}

.modal__input {
  display: block;

  width: 100%;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0 0 32px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  padding: 16px 12px;
  margin: 8px 0 32px;
  color: #212121;
}

.modal__submit-btn {
  background-color: #212121;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #fcf5e5;
  max-width: 156px;
  width: 100%;
  padding: 18px 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
}

@media screen and (max-width: 627px) {
  .modal__submit-btn {
    width: 100%;
    min-height: 44px;
    padding: 12px 16px;
    font-size: 16px;
  }
}
